<h3>By capital</h3>
<hr />
<div class="row">
  <div class="col">
    <app-country-input
      (onEnter)="search($event)"
      (onDebounce)="displaySuggestions($event)"
      placeholder="Search capital..."
    ></app-country-input>
  </div>
</div>
<hr />
<app-country-alert
  [error]="error"
  [searchWord]="searchWord"
></app-country-alert>
<div class="row" *ngIf="!error && countries.length > 0">
  <div class="col">
    <app-country-table
      [countries]="countries"
      [showCapital]="true"
    ></app-country-table>
  </div>
</div>
