<h3>By country</h3>
<hr />
<div class="row">
  <div class="col">
    <app-country-input
      (onEnter)="search($event)"
      (onDebounce)="displaySuggestions($event)"
      placeholder="Search country..."
    ></app-country-input>
  </div>
</div>
<ul class="list-group" *ngIf="suggestedCountries.length > 0">
  <li
    class="list-group-item list-group-item-action"
    *ngFor="let country of suggestedCountries"
  >
  <a [routerLink]="['/detail', country.cca2]" class='nav-link'>{{ country.name.common }}</a>
  </li>
  <li
    class="list-group-item list-group-item-action"
  >
  <a class='nav-link' (click)="search(searchWord)">Search "{{ searchWord }}"</a>
  </li>
</ul>
<hr />
<app-country-alert
  [error]="error"
  [searchWord]="searchWord"
></app-country-alert>
<div class="row" *ngIf="!error && countries.length > 0">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
